$font-color:  {{waybar.font.color_hex}};
$font-size:   {{waybar.font.size}};
$font-family: {{waybar.font.family}};
$font-weight: {{waybar.font.weight}};
$bg:          {{waybar.colors.background_hex}};
$fg:          {{waybar.colors.foreground_hex}};
